/* @charset "utf-8";

@media screen and (orientation: portrait) {
    #myCarousel{
    	margin: 50% 0 0 0;
        
    }
    
    .carousel-inner-one img{
    	margin: 0 auto;
    }
    .navbar-brand-1,.navbar-brand-2{
    	padding: 6px 0;
    }
    #navbar-brand-2{
        margin-left: 10px;
    }
    
    .carousel-indicators-1 li{
        width: 3%;
        height: 14;
        cursor: pointer;
        border-radius: 5px;
        background-color: #ebedee;
        margin: -18px 1px;
        background-color: #ebedee;
        opacity: .9;
    }
    .carousel-indicators-2{
        margin-left: 10px;
    }
    .carousel-indicators .active{
    	width: 3%;
        height: 14;
    	cursor: pointer;
        border-radius: 5px;
    	background-color: #e08a22;
        margin: -18px 1px;
        background-color: #e08a22;
        opacity: .9;
    }
}
@media screen and (orientation: landscape) {
    #myCarousel{
    	margin: 0 0 0 0;
    }
    
	#imgforour img{
		img{height:100%;width:auto}
	}
	
    .carousel-inner-one img{
    	margin: 0 auto;
    }
    .navbar-brand-1,.navbar-brand-2{
    	padding: 6px 0;
    }
    #navbar-brand-2{
        margin-left: 10px;
    }
    
    .carousel-indicators-1 li{
        width: 3%;
        height: 14;
        cursor: pointer;
        border-radius: 5px;
        background-color: #ebedee;
        margin: -18px 1px;
        background-color: #ebedee;
        opacity: .9;
    }
    .carousel-indicators-2{
        margin-left: 10px;
    }
    .carousel-indicators .active{
    	width: 3%;
        height: 14;
    	cursor: pointer;
        border-radius: 5px;
    	background-color: #e08a22;
        margin: -18px 1px;
        background-color: #e08a22;
        opacity: .9;
    }
}

 */
#myCarousel{
    	margin: 0 0 0 0;
        background: radial-gradient(circle,#d9d9d9, #826335);
    }
    
    .carousel-inner-one img{
    	margin: 0 auto;
    }
    .navbar-brand-1,.navbar-brand-2{
    	padding: 6px 0;
    }
    #navbar-brand-2{
        margin-left: 10px;
    }
    
    .carousel-indicators-1 li{
        width: 3%;
        height: 14;
        cursor: pointer;
        border-radius: 5px;
        background-color: #ebedee;
        margin: -18px 1px;
        background-color: #ebedee;
        opacity: .9;
    }
    .carousel-indicators-2{
        margin-left: 10px;
    }
    .carousel-indicators .active{
    	width: 3%;
        height: 14;
    	cursor: pointer;
        border-radius: 5px;
    	background-color: #e08a22;
        margin: -18px 1px;
        background-color: #e08a22;
        opacity: .9;
    }